h1 {
    color: black;
}
body {
    font-family:"Roboto";
}

.main-image {
    border: Solid 4px black;
    border-radius: 70%;
}
h1 {
    background-color: #FF0000;
    padding: 7px
}

.section-title {
    text transform: Uppercase;
}
